* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
}
:before, :after {
  box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, input {
  &:focus {
    border: none;
    outline: none;
  }
}

input, textarea, select, label {
  &, &:focus {
    appearance: none;
    outline: none;
  }
}

sup {
  line-height: 0;
}
